html{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

body{
  color: #333;
  background-color: #eee;
}

h1{
  color: white;
}

#logo{
  margin-top: 10%;
  width: 200px;
  height: auto;
  padding-top: 2em;
}

.graphSection{
  background-color: white;
  box-shadow: 0px 0px 10px #333;
  margin-bottom: 50px;
}

figure{
  width: 100px;
  height: 300px;
}

header{
  background: url('../resources/office-933306_1920.png');
  background-size: cover;
  text-align: center;
  width: 100vw;
  height: 80vh;
  padding-bottom: 2em;
}

#enviroSection{
  background-image: url('../resources/a30-sunbeams-1904485_1920.png');
  background-size: 100% auto;
}

#percentSection{
  background-image: url('../resources/a30-japan-217878_1920.png');
  background-size: 100% auto;
}

#vsSection{
  background-image: url('../resources/a30-boxing-gloves-1709174_1920.png');
  background-size: auto 100%;
}

#compareSection{
  background-image: url('../resources/a30-folding-rule-1329781_1920.png');
  background-size: auto 100%;
}
