html{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

body{
  color: #333;
  background-color: #eee;
}

a:link{
  color: #53863C;
}

a:visited{
  color: #53863C;
}

input[type="number"]{
  border-color: #53863C;
  border-style: solid;
  border-width: 1.5px;
  background-color: rgba(255, 255, 255, 0.75);
}

input[type="button"]{
  border-color: #53863C;
  border-style: solid;
  border-width: 1.5px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

input[type="button"]:hover{
  color: white;
  background-color: #53863C;
}

.sectionTitle{
  text-align: center;
  margin-bottom: 1ex;
}

#logo{
  margin-top: 10%;
  width: 170px;
  height: auto;
  padding-top: 2em;
}

#title{
  color: white;
}

.graphSection{
  background-color: white;
  box-shadow: 0px 0px 10px #333;
  margin-bottom: 50px;
  padding-top: 2ex;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1ex;
}

figure{
  width: 100%;
  height: 400px;
}

header{
  background: url('../resources/image/office-933306_1920.png');
  background-size: cover;
  text-align: center;
  width: 100vw;
  padding-bottom: 20vh;
  margin-bottom: 2em;
}

#enviroSection{
  background-image: url('../resources/image/a15-sunbeams-1904485_1920.png');
  background-size: 100% auto;
}

#percentSection{
  background-image: url('../resources/image/a15-japan-217878_1920.png');
  background-size: auto 100%;
}

#vsSection{
  background-image: url('../resources/image/a30-boxing-gloves-1709174_1920.png');
  background-size: 100% auto;
}

#compareSection{
  background-image: url('../resources/image/a15-folding-rule-1329781_1920.png');
  background-size: auto 100%;
}

.unitResult{
  margin-left: 2em;
}

.copyright{
  text-align: center;
}
