body{
  color: #333;
  background-color: #eee;
}

.graphSection{
  background-color: white;
  box-shadow: 0px 0px 10px #333;
  margin-bottom: 50px;
}

figure{
  width: 100px;
  height: 300px;
}

.header{
  width: 100%;
  height: auto;
}

#enviroSection{
  background-image: url('../resources/a30-sunbeams-1904485_1920.png');
  background-size: 100% auto;
}

#percentSection{
  background-image: url('../resources/a30-japan-217878_1920.png');
  background-size: 100% auto;
}

#vsSection{
  background-image: url('../resources/a30-boxing-gloves-1709174_1920.png');
  background-size: auto 100%;
}

#compareSection{
  background-image: url('../resources/a30-folding-rule-1329781_1920.png');
  background-size: auto 100%;
}
